doctype html
html(ng-app='app')
	head
		link(rel='stylesheet', href='/stylesheets/login.css')
		
		script(src='js/jquery.js')
		
		script(src='js/login/index.js')
		
		script(src='js/login/prefixfree.min.js')
		
	
		block title
	body(ng-controller='app')
	block content
		div.wrapper
			form(id='loginForm' class='login')
				p.title Log in
				input(id='username' type='text' placeholder='username' autofocus)
				i.fa.fa-user
				input(id='password' type='text' placeholder='password')
				i.fa.fa-key
				button(id='login') 
					i.spinner 
					span.state Submit
			
				
		
